<h1>New Course Information</h1>
<table border="0" cellpadding="5px" cellspacing="0px">
  <tr>
    <td>Name</td>
    <td><%= @course.name %></td>
  </tr>
  <tr>
    <td>Abstract</td>
    <td><%= @course.abstract %></td>
  </tr>
  <tr>
    <td>Prerequisites</td>
    <td><%= @course.prerequisites %></td>
  </tr>
  <tr>
    <td>Course Content</td>
    <td><%= @course.course_content %></td>
  </tr>
</table>