<div id="background_form">

                  <li><span><%= link_to "Status of Mentor & Student", mentor_info_statuses_path  %></span></li>
                  <%#= link_to "Student-info", student_info_statuses_path %>

</div>