<div id="background_form">
  <div id="sub_search_navigation">
    <% @search_subtab = true %>
  </div>
  <div id="home_sub_form">
    <br/>
  </div>
  <%= image_tag('banner shadow.png', :style=>"height: 11px;    margin: 35px -96px 10px;    width: 962px;") %>
  <!--<img alt="" src="images/banner shadow.png" style="height: 11px;    margin: 37px -96px 10px;    width: 962px;"/>-->
</div>
