<div id="background_form">
    <div id="sub_navigation">
    <% @report_subtab = true %>
  </div>
  <div id="default_sub_page">
    <table width="40%" border="0" cellpadding="8px" cellspacing="0" align="left">
      <tr>
        <td><%=link_to "Referring URL",""%> </td>
        </tr>
        <tr>
          <td><hr></td>
        </tr>
        <tr>
        <td><%= link_to "Referring sites",""%> </td>
        </tr>
      <tr>
          <td><hr></td>
        </tr>
        <tr>
        <td><%= link_to "Search keywords",""%> </td>
        </tr>
      <tr>
          <td><hr></td>
        </tr>
     </table>
  </div>
</div>